// .container {
//   position: relative;  
// }

@media (min-width: 1170px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}
@media (min-width: 1700px) {
  .container {
    width: 1700px;
  }
}

