.formBox {
  width: 270px;
  border: 8px solid $secondary-color;
  border-radius: 16px;
  position: relative;
  right: 30px;
  text-align: center;
  background-color: #ffffff;

  &__topText {
    width: 170px;
    margin: 0 auto 10px;
    padding-top: 44px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;

    > span {
      color: $primary-color;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }
  &__bottomText {
    width: 180px;
    margin: 0 auto 10px;
    font-size: 18px;
    font-weight: 500;
    // letter-spacing: 1.5px;

    > span {
      color: $secondary-color;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }
}

.price {
  display: flex;
  width: 210px;
  margin: 0 auto;
}

.old-price,
.new-price {
  width: 105px;
  margin: 0 0 14px;
  font-size: 16px;
  p {
    margin: 0 0 10px;
  }
  span {
    font-size: 34px;
  }
}

.old-price {
  color: #666666;

  &__box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &--svg {
      width: 20px;
    }
  }
}
.cross-out {
  width: 80%;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 5px;
}

.new-price {
  &__box {
    background-color: #ffc702;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--svg {
      width: 20px;
    }
  }
  span {
    font-weight: 700;
  }
}

input,
button {
  border: none;
  border-radius: 50px;
  padding: 24px;
  margin-bottom: 10px;
}

.input-name {
  background: url(../../images/svg/formPerson.svg) 30px 50% no-repeat, #eef2f7;
}
.input-tel {
  background: url(../../images/svg/formTel.svg) 30px 50% no-repeat, #eef2f7;
}
::-webkit-input-placeholder {
  color: #666666;
  padding-left: 40px;
  font-family: 'Roboto', serif;
  font-size: 18px;
}
::-moz-placeholder {
  color: #666666;
  padding-left: 40px;
  font-family: 'Roboto', serif;
  font-size: 18px;
}
:-moz-placeholder {
  color: #666666;
  padding-left: 40px;
  font-family: 'Roboto', serif;
  font-size: 18px;
}
:-ms-input-placeholder {
  color: #666666;
  padding-left: 40px;
  font-family: 'Roboto', serif;
  font-size: 18px;
}
.button {
  background-color:  #ffc702 ;
  font-family: 'Roboto', serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 14px;
  padding: 18px;
  width: 218px;
  margin-bottom: 18px;
  position: relative;
  &:after {
    border: solid 1px #ffffff;
    border-radius: 50px;
    position: absolute;
    content: "";
    top: 5px; 
    right: 5px; 
    bottom: 5px; 
    left: 5px; 
  }
  span {
    font-size: 18px;
  }
}

.arrow {
  position: absolute;
  right: -34px;
  top: 154px;
  width: 49px;
}

.delivery {
  width: 150px;
  padding: 0 0 10px 30px;
  background: url(../../images/svg/deliver.svg) 10px 0 no-repeat, #f3f9ff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 8px solid $secondary-color;
  border-top: none;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -8px;
  letter-spacing: 1.1px;
}

.shield {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url(../../images/svg//shield.svg) 28px  no-repeat, #eef2f7;
  padding: 15px 0 15px 40px;
  font-size: 14px;
  letter-spacing: 1.2px;
}

@media (min-width: 1170px) {
  .delivery {
    background: url(../../images/svg/deliver.svg) 10px 0 no-repeat, #ffffff;
  }
}
